/** {*/
/*border: 1px solid red;*/
/*}*/

body {
  text-align: center;
  font-family: 'Black Ops One', cursive;
  background: rgba(33, 34, 34, 1);
}

.overlay {
  z-index: 1500;
  background: rgba(33, 34, 34, .96);
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  left: 0;
  top: 0;
  color: #888;
}

.spacer-50 {
  margin-left: 50px;
}

/*
    For opening view ##########################################
*/
#opening {
  background-color: black;
}

#title-letters {
  margin-top: 100px;
}

.show-up-from-top-left {
  position: relative;
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  -o-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: showUpFromTopLeft;
  -moz-animation-name: showUpFromTopLeft;
  -o-animation-name: showUpFromTopLeft;
  animation-name: showUpFromTopLeft;
  left: -2000px;
  top: -500px;
}

#title-2 {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -o-animation-delay: .2s;
  animation-delay: .2s;
}

#title-3 {
  -webkit-animation-delay: .4s;
  -moz-animation-delay: .4s;
  -o-animation-delay: .4s;
  animation-delay: .4s;
}

#title-4 {
  -webkit-animation-delay: .6s;
  -moz-animation-delay: .6s;
  -o-animation-delay: .6s;
  animation-delay: .6s;
}

#title-5 {
  -webkit-animation-delay: .8s;
  -moz-animation-delay: .8s;
  -o-animation-delay: .8s;
  animation-delay: .8s;
}

#title-6 {
  -webkit-animation-delay: 1.0s;
  -moz-animation-delay: 1.0s;
  -o-animation-delay: 1.0s;
  animation-delay: 1.0s;
}

#title-7 {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -o-animation-delay: 1.2s;
  animation-delay: 1.2s;
}

#title-8 {
  -webkit-animation-delay: 1.4s;
  -moz-animation-delay: 1.4s;
  -o-animation-delay: 1.4s;
  animation-delay: 1.4s;
}

#title-9 {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  -o-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

#title-10 {
  -webkit-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  -o-animation-delay: 1.8s;
  animation-delay: 1.8s;
}

@keyframes showUpFromTopLeft {
  from {
    transform: rotate(0deg);
    left: -2000px;
    top: -500px;
    opacity: 0;
  }
  to {
    transform: rotate(1080deg);
    left: 0px;
    top: 0px;
    opacity: 1;
  }
}

#nekki-letters {
  margin-top: 50px;
}

.show-up-from-right {
  position: relative;
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  -o-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-direction: alternate;
  -moz-animation-direction: alternate;
  -o-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  -o-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: showUpFromRight;
  -moz-animation-name: showUpFromRight;
  -o-animation-name: showUpFromRight;
  animation-name: showUpFromRight;
  left: 3000px;
}

#nekki-1 {
  -webkit-animation-delay: 2.3s;
  -moz-animation-delay: 2.3s;
  -o-animation-delay: 2.3s;
  animation-delay: 2.3s;
}

#nekki-2 {
  -webkit-animation-delay: 2.4s;
  -moz-animation-delay: 2.4s;
  -o-animation-delay: 2.4s;
  animation-delay: 2.4s;
}

#nekki-3 {
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  -o-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

#nekki-4 {
  -webkit-animation-delay: 2.6s;
  -moz-animation-delay: 2.6s;
  -o-animation-delay: 2.6s;
  animation-delay: 2.6s;
}

#nekki-5 {
  -webkit-animation-delay: 2.7s;
  -moz-animation-delay: 2.7s;
  -o-animation-delay: 2.7s;
  animation-delay: 2.7s;
}

#nekki-6 {
  -webkit-animation-delay: 2.8s;
  -moz-animation-delay: 2.8s;
  -o-animation-delay: 2.8s;
  animation-delay: 2.8s;
}

#nekki-7 {
  -webkit-animation-delay: 2.9s;
  -moz-animation-delay: 2.9s;
  -o-animation-delay: 2.9s;
  animation-delay: 2.9s;
}

@keyframes showUpFromRight {
  0% {

    left: 3000px;
  }
  80% {
    left: -200px;
  }
  100% {
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
    left: 0;
  }
}

/*
    For Flash view ##########################################
*/
#flash {
  z-index: 2000;
  background: rgba(243, 250, 250, .90);
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  left: 0;
  top: 0;
  display: none;
}

/*
    For start view ##########################################
*/
#start {
  background-color: rgba(33, 34, 34, 1);
}

#start h1 {
  color: #ffff34;
  font-family: 'Passion One', cursive;
  font-size: 100pt;
  margin: 50px auto 20px;
}

#start .created-by {
  text-align: right;
  margin-left: 33%;
  width: 33%;
  color: #f574ae;
  font-size: 75pt;
}

#start h1,
#start .created-by {
  text-shadow: 1px 4px 6px #7a7a7a, 0 0 0 #000, 1px 4px 6px #dadada;

}

#start-animation {
  background-image: url('../images/stone-block.png');
  background-repeat: repeat;
  width: 500px;
  height: 171px;
  margin: 50px auto 100px;
}

#start-boy {
  position: relative;
  left: 100px;
  top: -20px;
}

#start-gem {
  position: relative;
  left: 4px;
  top: -35px;
}

#start-enemy {
  position: relative;
  left: 5px;
  top: -20px;
}

#start p.start-guide {
  color: lawngreen;
  font-size: 35pt;
  font-family: "Russo One";
}

#start .action {
  margin: auto;
  position: relative;
  text-align: center;
}

#countdown {
  background: rgb(50, 50, 50);
}

#countdown #counter {
  padding: 200px 0 200px;
}

/*.counter {*/
/*display: none;*/
/*}*/

.counter {
  opacity: 0;
  width: 0;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -o-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -o-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: countDownAnim;
  -moz-animation-name: countDownAnim;
  -o-animation-name: countDownAnim;
  animation-name: countDownAnim;
}

@keyframes countDownAnim {
  5% {
    opacity: 1;
    width: 500px;
    height: 500px;
  }
  70% {
    width: 277px;
    height: 277px;
  }
  100% {
    widgth: 0;
  }
}

#count3 {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-delay: 1s;
  animation-delay: 1s;
}

#count2 {
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -o-animation-delay: 2s;
  animation-delay: 2s;
}

#count1 {
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -o-animation-delay: 3s;
  animation-delay: 3s;
}

.button {
  font-size: 30px;
  font-weight: 900;
  border-radius: 5px;
  width: 70%;
  max-width: 400px;
  min-width: 180px;
  height: 80px;
  transition: all 0.3s ease-in-out;
  background-color: aqua;
  border: none;
  -webkit-box-shadow: 0 3px 3px 3px #f0ffab;
  -moz-box-shadow: 0 3px 3px 3px #f0ffab;
  box-shadow: 0 3px 3px 3px #f0ffab;
}

.button:hover {
  background-color: rgba(244, 122, 225, 0.8);
}

/*
    game info view ##########################################
*/
#game-info {
  display: none;
}

#game-info h1 {
  color: yellow;
  font-size: 70pt;
  margin: 0;
}

#game-info h1 span {
  opacity: 0;
}

#game-info h1 span#current-level {
  margin-left: 30px;
  color: lawngreen;
  transition: all 3s ease-in-out;
}

#game-info #score,
#game-info #life {
  line-height: 40px;
  text-align: center;
}

#game-info #score {
  font-size: 50px;
  color: #FFFFAD;
}

#game-info #score #current-score {
  margin-left: 20px;
  transition: all 0.3s ease-in-out;
}

#game-info #life {
  font-size: 40px;
  padding-left: 30px;
}

#game-info #life img {
  height: 40px;
  top: 10px;
  position: relative;
}

#game-info #life span {
  margin-left: 20px;
  color: #f574ae;
}

#indicator {
  width: 505px;
  margin: auto;
}

#indicator h1 {
  margin: 0 auto 0;
  color: #f147e9;
  font-size: 20pt;
}

#indicator .meter {
  width: 9%;
  margin-right: 1px;
  height: 30px;
  opacity: 0;
  display: inline-block;
}

#indicator .meter-1,
#indicator .meter-2,
#indicator .meter-3,
#indicator .meter-4,
#indicator .meter-5,
#indicator .meter-6,
#indicator .meter-7,
#indicator .meter-8,
#indicator .meter-9,
#indicator .meter-10 {
  background-color: deepskyblue;
}

/*
  GAME OVER ##########################################
*/
#game-over {
  position: relative;
}

#game-over-text {
  margin-top: 300px;
}

.game-over-char {
  font-size: 100px;
  color: #f51fa6;
  opacity: 0;
  text-shadow: 2px 2px 2px #FFFF00;
}

#angel {
  position: absolute;
  top: 500px;
  left: calc(100vw / 2 - 135px);
  opacity: 0;
  text-align: center;
}

#final-score {
  font-size: 50px;
  margin-top: 20px;
  color: lawngreen;
  text-shadow: 2px 2px 2px #FFFF00;
  opacity: 0;
}

#highest-score {
  font-size: 30px;
  margin-top: 10px;
  color: #fc982d;
  text-shadow: 1px 1px 1px #6b0cff;
  opacity: 0;
}

#congratulation {
  font-size: 20px;
  color: #ffff34;
  text-shadow: 1px 1px 1px #ff36c0;
  opacity: 0;
  margin-bottom: 30px;
}

#restart-button {
  display: none;
}

/*
  Common ##########################################
*/
.row {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}
